<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <title>Welcome to FCE Tester</title>
  </head>

  <body>
    <a class="waves-effect waves-light btn">button</a>
        <!--<img src="quiz-app-2/logo-header.png" width="70" height="40">-->
    <%= yield %>
  </body>
</html>
